 body {
      margin-top: 200px;
      padding: 0;
      background-image: url("../images/hw1.jpeg");
      /* background-color: #f1f0ec; */
      background-size: cover;
      background-attachment: fixed;
      text-align: center;
    }

h1 {
  color: rgb(53, 42, 42);
  font-size: 32px;
  letter-spacing: 0.8px;

}

li {
 margin-bottom: 10px;
 list-style-type: none;
}

input.input {
  color: rgb(245, 10, 10);
  background: rgb(212, 231, 231);
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;

}

input[type=button] {
  padding: 15px;
  width: 200px;
  border: 0.5px solid;
  border-radius: 5px;
  
}
