 body {
      margin-top: 100px;
      padding: 0;
      background-color: #f1f0ec;
      background-size: cover;
      background-attachment: fixed;
      text-align: center;
    }

h1 {
  color: rgb(65, 12, 12);
  font-size: 32px;
  letter-spacing: 0.8px;

}

li {
 margin-bottom: 10px;
 list-style-type: none;
}

input.input {
  color: rgb(165, 25, 71);
  background: rgb(183, 218, 132);
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;

}

input[type=button] {
  padding: 15px;
  width: 200px;
  border: 0.5px solid;
  border-radius: 5px;
  
}
