 body {
      margin-top: 100px;
      padding: 0;
      background-color: #ffffff;
      background-size: cover;
      background-attachment: fixed;
      text-align: center;
    }

h1 {
  color: #dc552c;
  font-weight: lighter;
  font-size: 38px;
  letter-spacing: 0.8px;

}

li {
 margin-bottom: 10px;
 list-style-type: none;
}

input.input {
  color: #404969;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
}


input.input:hover {
  background-color: rgba(220, 85, 44, .2); 
  transition: background-color 0.9s ease-out;
}

input[type=button] {
  padding: 15px;
  width: 200px;
  border: 0.5px solid;
  border-radius: 5px;
}

input[type=button]:active,
  input[type=button]:focus {
    outline-color: rgb(231, 133, 133);
    /* outline: none !important; */
    box-shadow: none !important;
  }