body {
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}


#middle {
  height: 600px;
  text-align: center;
  border-bottom: 0.5px solid #404969;
  padding-top: 60px;
  margin-top: 100px;
  margin-bottom: 150px;
  color: #404969;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  color:#404969;
  background:#ffff;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
}

.btn.btn-outline-success {
  margin: 5px;
}

.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}

.btn-outline-success:hover {
  background-color:#eb9e87;
}
