body {
  background-image: url("../images/wood_hw2.jpeg");
  background-size: cover;
  background-attachment: fixed;
}


#middle {
  background: rgb(212, 231, 231);
  height: 550px;
  text-align: center;
  border: 0.5px solid red;
  padding-top: 60px;
  margin-top: 40px;
  color: gray
}


input {
  color:white;
  background:rgb(233, 90, 65);
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;

}

.btn.btn-outline-success {
  margin: 5px;
}