 body {
      padding: 0;
      background-color: #f1f0ec;
      background-size: cover;
      background-attachment: fixed;
    }


h3 {
  color: rgb(53, 42, 42);
  font-size: 32px;
  letter-spacing: 0.8px;
  text-align: center;
}



.row {
      margin-top: 100px;
    }


#middle {
  background: #f1f0ec;
  height: 550px;
  text-align: center;
  border: 0.5px solid rgb(202, 87, 125);
  padding-top: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(109, 35, 74)
}


input {
  color:white;
  background:rgb(233, 90, 65);
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
}

.btn.btn-outline-success {
  margin: 5px;
}

.btn-outline-success {
  color: rgb(126, 91, 102);
  border-color: yellowgreen;
}

.btn-outline-success:hover {
  background-color:rgb(183, 218, 132);
}

