
body {
  background-color: #f1f0ec;
  background-size: cover;
  background-attachment: fixed;
}

#middle {
  background: rgb(212, 231, 231);
  height: 650px;
  text-align: center;
  border: 0.5px solid gb(202, 87, 125);
  padding-top: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: rgb(109, 35, 74)
}

h3 {
  color: rgb(53, 42, 42);
  font-size: 32px;
  letter-spacing: 0.8px;
  text-align: center;
}


input {
  color:white;
  background:rgb(233, 90, 65);
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
}

.textarea {
  text-align: center;
  background-color: rgb(233, 90, 65);
  color: rgb(88, 43, 43)
}

.btn-outline-success {
  color: rgb(126, 91, 102);
  border-color: yellowgreen;
}


.btn-outline-success:hover {
  background-color:rgb(183, 218, 132);
}
