body {
  padding: 0;
  background-image: url("../images/wood_hw4.jpeg");
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  color: rgb(53, 42, 42);
  font-size: 32px;
  letter-spacing: 0.8px;
  text-align: center;
}

.row {
  margin-top: 100px;
}

#middle1, #middle2 {
  background: rgb(247, 241, 235);
  height: 450px;
  text-align: center;
  border: 0.5px solid rgb(108, 175, 8);
  padding-top: 60px;
  margin-bottom: 40px;
  margin-left: 40px;
  color: rgb(119, 31, 31);
}

.inputarea {
  color: rgb(69, 110, 8);
  background: rgb(218, 218, 218);
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
  width: auto;
  height: auto;
  overflow: auto;
  
}

input {
  color: rgb(69, 110, 8);
  background: rgb(218, 218, 218);
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  
}

.btn.btn-outline-success {
  margin: 5px;
}


#five_to_21, #three_to_21 {
  color: rgb(37, 94, 94);
}

