body {
  padding: 0;
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}

h4 {
  color: #404969;
  font-weight: lighter;
  letter-spacing: 0.8px;
  text-align: center;
}

h2 {
  color: #404969;
  font-weight: lighter;
  letter-spacing: 0.8px;
  text-align: center;
}

h5 {
  color: rgb(83, 45, 56);
}color

h6 {
  color: rgb(83, 45, 56);
}

.container {
  margin-top: 20px;
}

.col-3 {
  margin-top: 100px;
}


.btn.btn-outline-success {
  margin: 5px;
  
}

.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}


.btn-outline-success:hover {
  background-color:#eb9e87;
}

select {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffff;
  color: rgb(90, 87, 87);
  outline: none;
}

input {
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffff;
  color: rgb(80, 75, 75);
  outline: none;
}

#other_gender {
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffff;
  color: rgb(80, 75, 75);
}

a {
  color: rgb(233, 112, 144);
  font-style: italic;
}


#middle {
  background: f7f7f7;
  height: 700px;
  text-align: center;
  padding-top: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  color: gray;
  
}

hr {
  width: 50%;
  /* background-color: red; */
 
}

#submit {
  letter-spacing: 1px;
  outline: none;
}


