body {
    padding: 0;
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}

h3 {
  margin-top: 20px;
  color: #404969;
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: 0.8px;
  text-align: center;
  font-weight: lighter;
}

.row {
  margin-top: 100px;
}

#middle {
  height: 450px;
  text-align: center;

  margin-bottom: 150px;
  color: #404969;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}



input {
  height: 40px;
  color:#404969;
  background:#ffff;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-align: center;
  border-radius: 5px;
}

#textarea {
  background-color:#f9f6f7; 
  background-color: #ffffff;
  border: none; 
  color: #404969; 
  text-align: center; 
  padding: 10px;
  border-color: lightgray;
  border-radius: 5px;
  color: rgb(83, 79, 79);
  text-align: left;
  outline: none;
  padding-left: 80px; 
}

.btn.btn-outline-success {
  margin: 5px;
}


#five_to_21, #three_to_21 {
  color: rgb(37, 94, 94);
}

.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}

.btn-outline-success:hover {
  background-color:#eb9e87;
}
