body {
  padding: 0;
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  margin-top: 20px;
  color: #404969;
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: 0.8px;
  text-align: center;
  font-weight: lighter;
}



h5 {
  color: #404969;
}

h6 {
  color: #404969;
  font-weight: normal;
}

.container {
  margin-top: 20px;
}

.col-3 {
  margin-top: 100px;
}


.btn.btn-outline-success {
  margin: 5px;
  
}

.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}


.btn-outline-success:hover {
  background-color:#eb9e87;
}

select {
  width: 160px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffff;
  color: rgb(90, 87, 87);
  outline: none; 
}

input {
  height: 40px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffff;
  color: rgb(80, 75, 75);
  outline: none;
}

a {
  color: rgb(233, 112, 144);
  font-style: italic;
}