body {
   padding: 0;
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
  margin: 200px;
  color: #404969;
  font-weight: lighter;
  font-size: 32px;
  letter-spacing: 0.8px;
  text-align: center;
  font-weight: lighter;
}
