body {
  padding: 0;
  background-color: #f1f0ec;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  text-align: center;
}

.container {
  margin-top: 20px;
}

.col-4 {
  margin-top: 100px;
}