body {
      padding: 0;
      background-color: #ffffff;
      background-size: cover;
      background-attachment: fixed;
  
    }

h2 {
    color: #dc552c;
    font-weight: lighter;
    font-size: 38px;
    letter-spacing: 0.8px;
    text-align: center;
}

.container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

li {
 margin-bottom: 10px;
 list-style-type: none;
}

input.input {
  color:  #404969;
  background-color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 410px;
}

input.input:hover {
  background-color: rgba(220, 85, 44, .2); 
  transition: background-color 0.9s ease-out;
}

input[type=button] {
  padding: 15px;
  width: 100%;
  border-bottom: 0.5px solid;
  border-radius: 5px;
}

input[type=button]:active,
input[type=button]:focus {
    outline-color: rgb(231, 133, 133);
    /* outline: none !important; */
    box-shadow: none !important;
  }

.cell {
    color: rgb(245, 239, 239);
    color:  #404969;
    text-align: center;
    width: 410px;
    font-size: 15px;
    letter-spacing: 0.5px;
    border: #404969 solid 1px;
    padding: 0;
    border-radius: 5px;
    margin: 0.5rem;
  }

.btn.btn-outline-success {
  margin: 5px;
  
}

.btn-outline-success {
  color: #404969;
  border-color: #404969;
  font-weight: lighter;
}

.btn-outline-success:hover {
   background-color:#eb9e87;
}

div.alert.alert-info {
  text-align: center;
  font-size: 28px;
}

p {
    padding: 10px;
  }
