<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="main point for all assignments of CNIT 133 JavaScript class at CCSF/CNIT">
  
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hw1</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/css/hw1_style.css">

</head>
<body>

  <h1>CNIT 133 Homework</h1>

  <ul>
    
      <li><input class="input" type="button" onclick="window.location.href = 'hw2.html'; " value="Homework 2"/></li>

      <li><input class="input" type="button" onclick="window.location.href = 'hw3.html'; " value="Homework 3" /></li>

      <li><input class="input" type="button" onclick="window.location.href = 'hw4.html'; " value="Homework 4" /></li>

      <li><input class="input" type="button" onclick="window.location.href = 'hw5.html'; " value="Homework 5" /></li>
    
      <li><input class="input" type="button" onclick="window.location.href = 'hw6.html'; " value="Homework 6" /></li>

      <li><input class="input" type="button" onclick="window.location.href = 'hw7.html'; " value="Homework 7"/></li>

      <li><input class="input" type="button" onclick="window.location.href = 'hw8.html'; " value="Homework 8" /></li>

      
   
  </ul>

</body>
</html>