<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Homwork 2 for CNIT133 class at CCSF">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hw2</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/hw2_style.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

    </form>
  </nav>

  <br>
  <h2>CNIT 133 Homework 2 - Basic Operations</h2>

  <div class="container">
    <div class="cell">
      <div>
        <input class="input" type="button" onclick="window.location.href = 'part1.html'; " value="Part 1" />
      </div>
      <p>
        The program displays in pairs <br>the letters ab and the numbers <br>12 and 34 with different fonts <br>and
        colors
        separated by one space.
      </p>
    </div>

    <div class="cell">
      <div><input class="input" type="button" onclick="window.location.href = 'part2.html'; " value="Part 2" />
      </div>
      <p>
        The program colculates sum, average, product, smallest and largest of three given numbers
      </p>
    </div>

    <div class="cell">
      <div><input class="input" type="button" onclick="window.location.href = 'part3.html'; " value="Part 3" />
      </div>
      <p>
        The program counts how many <br>positive, negative and zeros<br> out of given five nmbers.
      </p>
    </div>
  </div>



</body>

</html>