<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Homwork 3 for CNIT133 class at CCSF">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>hw3</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/hw3_style.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>
    </form>
  </nav>
  <br>
  <h2>CNIT 133 Homework 3 - Functions</h2>

  <div class="container-1">
    <div class="cell">
      <div>
        <input class="input" type="button" onclick="window.location.href = 'hw3_part1.html'; " value="Part 1" />
      </div>
      <p>
        The program inputs a <br>student's homework average,<br> mid-term exam score, final exam score, and
        participation. Then calculates and displays the student's final average.
      </p>
    </div>

    <div class="cell">
      <div><input class="input" type="button" onclick="window.location.href = 'hw3_part2.html'; " value="Part 2" />
      </div>
      <p>
        The program calculats a salesperson's weekly earnings depending on a type and quantity of the items he/she
        sold that week.
      </p>
    </div>
  </div>


  <div class="container-2">
    <div class="cell">
      <div><input class="input" type="button" onclick="window.location.href = 'hw3_part3.html'; " value="Part 3" />
      </div>
      <p>
        The program converts a given temperature number to celsius or fohrenheit dapanding on the user's preference.
      </p>
    </div>

    <div class="cell">
      <div><input class="input" type="button" onclick="window.location.href = 'hw3_part4.html'; " value="Part 4" />
      </div>
      <p>
        The program generates two one-digit, offers to a user to provide the product of the numbers and check its
        correctnes.
      </p>
    </div>


  </div>
</body>

</html>