<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Homework 4 for CNIT133 class of CCSF made by Oxana Howard">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hw4</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw4_style.css">

</head>
<body>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
      page</button>

  </form>
</nav>
<br>
  <h2>CNIT 133 Homework 4 - Looping Statements</h2>


<div class="row">

  <div class="col-4">
  </div>

  <div class="col-4" id="middle">

    <div>
      <input class="input" type="button" onclick="window.location.href = 'hw4_part1.html'; " value="Part 1" />
    </div>
    <p>
      The program contains two scripts. <br>One, using for statement calculates the product and sum of every fourth integer from 5 to 21. Another, using the while statement calculates the product and sum of every third integer from 3 to 21 inclusive<br>
    </p>

    <div><input class="input" type="button" onclick="window.location.href = 'hw4_part2.html'; " value="Part 2" /></div>
    <p>
      The program contains a script that calculates compound interest on a principal of $1000 for interest rates of 5, 6, and
      7%, for years 1 through 10.
    </p>

    <div><input class="input" type="button" onclick="window.location.href = 'hw4_extra_credit.html'; " value="Extra Credit" /></div>
    <p>
      The program contains a script that reads in the size of the side of a square and displays a hollow square of that size constructed
      of asterisks for squares only for side sizes between 2 and 10 inclusive
    </p>


    
  <div class="col-2">
  </div>
  </div>
</div>

</body>
</html>