<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Part 2 of Homwork 4 CNIT133">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>part1</title>

  <script src="../static/js/hw4_part2.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw4_part2.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4.html'; ">Homework 4
        page
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_part1.html'; ">Part 1
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_extra_credit.html'; ">Extra
        Credit
      </button>

    </form>
  </nav>

<h3>Calculate Using Looping Statements</h3>

<div class="row">

  <div class="col-1">
  </div>

  <div class="col-3" id="middle1">
    <form name="myform">

      <h6>
        interest rates of 5%

      </h6>

      <br>
<table>
  <tr>
    <th>Year</th>
    <th>Amount on deposit</th>
    <th>Interest Rate</th>
  </tr>
  <tr>
    <td>1</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>2</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>3</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>4</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>5</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>6</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>7</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>8</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>9</td>
    <td>?</td>
    <td>?</td>
  </tr>
  <tr>
    <td>10</td>
    <td>?</td>
    <td>?</td>
  </tr>


</table>
    </form>



  </div>

  <div class="col-3" id="middle1">
    <form name="myform">
    
      <h6>
        interest rates of 6%
    
      </h6>
    
      <br>
      <table>
        <tr>
          <th>Year</th>
          <th>Amount on deposit</th>
          <th>Interest Rate</th>
        </tr>
        <tr>
          <td>1</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>2</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>3</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>4</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>5</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>6</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>7</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>8</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>9</td>
          <td>?</td>
          <td>?</td>
        </tr>
        <tr>
          <td>10</td>
          <td>?</td>
          <td>?</td>
        </tr>
    
    
      </table>
    </form>

  </div>

  <div class="col-3" id="middle2">
  <form name="myform">
  
    <h6>
      interest rates of 7%
  
    </h6>
  
    <br>
    <table>
      <tr>
        <th>Year</th>
        <th>Amount on deposit</th>
        <th>Interest Rate</th>
      </tr>
      <tr>
        <td>1</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>2</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>3</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>4</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>5</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>6</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>7</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>8</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>9</td>
        <td>?</td>
        <td>?</td>
      </tr>
      <tr>
        <td>10</td>
        <td>?</td>
        <td>?</td>
      </tr>
  
  
    </table>
  </form>


  </div>
  <div class="col-2">
  </div>

</div>




</body>

</html>