<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Extra Credit of Homework 4 CNIT133 class of CCSF made by Oxana Howard">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>part1</title>

  <script src="../static/js/hw4_extra_credit.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw4_extra_credit.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4.html'; ">Homework 4
        page
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_part1.html'; ">Part 1
      </button>

      <button class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'hw4_part2.html'; ">Part 2
      </button>

    </form>
  </nav>
<br>
<br>

<h3>Square of Asterisks</h3>

<div class="row">

  <div class="col-3">
  </div>
  <br>


  <div class="col-5" id="middle">
  
    <form name="myform">
  

      <h6>Enter a number between 2 and 10 inclusive <br>and press the button GET SQUARE:</h6>

      Number:
      <input type="text" id="number" size="10">
      <br>
      <br>


<input type="button" onclick="getSquare()" value="GET SQUARE">

<br>
<br>
<textarea id="texrarea_worning" name="result2">
</textarea>
<br>
<textarea id="texrarea_square" name="result1">
</textarea>

<br>
<br>

<input type="reset" value="RESET">


</form>

  </div>
  <div class="col-3">
  </div>

</div>



</body>

</html>