<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Part 2 of Homwork 4 CNIT133">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>part1</title>

  <script src="../static/js/hw4_part2.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw4_part2.css">

  <!-- jQuery UI CSS file, jQuery .js file, and jQuery UI .js file -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>



  <script>
    $(document).ready(function () {
      $("th").css("background-color", "rgb(138, 17, 17)");
      $("th").css("color", "white");
      $("tr:even").css("background-color", "rgb(139, 160, 65)");
      $("tr:odd").css("background-color", "rgb(228, 218, 126)");
    });
  </script>

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4.html'; ">Homework 4
        page
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_part1.html'; ">Part 1
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_extra_credit.html'; ">Extra
        Credit
      </button>

    </form>
  </nav>
<br>
<br>

<h3>Calculate Compound Interest<br> Using Looping Statements</h3>



<!-- <div class="row" onload="calculateCompoundInterest()"> -->
<div class="row">

<script>

  var x, y, P, r, A;

  x = 1;
  y = 5;
  r = 0.04;
  P = 1000;
  
  while (x <= 3) {
  
    document.write('<div class="col-3">')
    document.write('<table cellspacing="5" border="2">');
    document.write("<br>")
    document.write("<h6>" + "Interest Rates of " + y + "</h6>")
    document.write('<tr><th>' + "Year" + "</th>");
    document.write("<th>" + "Amount on deposit" + "</th>");
    document.write("<th>" + "Interest Rate" + "</th></tr>"); 
    
  
    x += 1;
    y += 1;
    r += 0.01;
    

    
  for (var n = 1; n <= 10; n++) {
    A = P * (1 + r) ** n;
    A = A.toFixed(4);
  
    document.write("<tr><td>" + n + "</td>");
    document.write("<td>" + A + "</td>");
    document.write("<td>" + r.toFixed(2) + "</td></tr>");

  }
document.write("</table>");
document.write("</div>");

  }

  </script>

</div>
</body>

</html>