<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Part 1 of Homwork 4 CNIT133">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>part1</title>

  <script src="../static/js/hw4_part1.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw4_part1.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4.html'; ">Homework 4
        page
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_part2.html'; ">Part 2
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_extra_credit.html'; ">Extra Credit
      </button>

    </form>
  </nav>


  <br>
 

  <h3>Calculate Using Looping Statements</h3>
  
  <div class="row">
  
    <div class="col-2">
    </div>
  
    <div class="col-4" id="middle1">
      <form name="myform">
  
        <h6>
          Click on the GET RESULT button to get product and sum of every fourth integer from 5 to 21 inclusive.
  
        </h6>
        
        <br>
  
        <input type="button" onclick="countFinalAvgAndLetterGrade()" value="GET RESULT">
  
        <br>
        <br>
        <textarea rows="5" cols="40" name="result" style="background-color: rgb(108, 175, 8); color: rgb(88, 43, 43)">
          </textarea>
        <br>
  
  
        <input type="reset" value="RESET">
      </form>
  

      
    </div>
    <div class="col-4" id="middle2">
      <form name="myform">
    
        <h6>
          Click on the GET RESULT button to get product and sum of every third integer from 3 to 21 inclusive.
    
        </h6>
    
        <br>
    
        <input type="button" onclick="countFinalAvgAndLetterGrade()" value="GET RESULT">
    
        <br>
        <br>
        <textarea rows="5" cols="40" name="result" style="background-color: rgb(108, 175, 8); color: rgb(88, 43, 43)">
              </textarea>
        <br>
    
    
        <input type="reset" value="RESET">
      </form>
    
    </div>
    <div class="col-2">
    </div>
  
  </div>


</body>

</html>