<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Extra Credit of Homwork 4 CNIT133">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>part1</title>

  <script src="../static/js/hw4_extra_credit.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw4_extra_credit.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4.html'; ">Homework 4
        page
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw4_part1.html'; ">Part 1
      </button>

      <button class="btn btn-outline-success" type="button"
        onclick="window.location.href = 'hw4_part2.html'; ">Part 2
      </button>

    </form>
  </nav>
<br>
<br>

<h3>Square of Asterisks</h3>

<div class="row">

  <div class="col-3">
  </div>
  <br>


  <div class="col-5" id="middle">
    <form name="myform">
  

      <h6>Enter number between 2 and 10 inclusive <br>and press the button GET SQUARE:</h6>
      <table>
        <tr>
          <td>Item1:</td>
          <td><input type="text" id="item1" size="10"></td>
        </tr>
    
      </table>

      <br>

      <input type="button" onclick="salesEarnings()" value="GET SQUARE">

      <br>
      <br>
      <input type="text" name="result" id="result" size="42">
      <br>
    
      <br>

<textarea rows="5" cols="40" name="result" style="background-color: rgb(108, 175, 8); color: rgb(88, 43, 43)">
              </textarea>
<br>
<input type="reset" value="RESET">
    </form>

  </div>
  <div class="col-3">
  </div>

</div>



</body>

</html>