<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Homwork 5 for CNIT133 class at CCSF - Arrays">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hw5</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/hw5_style.css">

</head>
<body>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
      page</button>

  </form>
</nav>
<br>
  <h2>CNIT 133 Homework 5 - Arrays</h2>



<div class="row">

  <div class="col-4">
  </div>

  <div class="col-4" id="middle">

    <div>
      <input class="input" type="button" onclick="window.location.href = 'hw5_part1.html'; " value="Part 1" />
    </div>
    <p>
      The webpage contains a form that displays an input text box, radio buttons, checkboxes, and select items; along with a script that executes form validation. <br> <br>The script validates whether the user has entered data in the input text box, has checked a radio button, has checked at least one checkbox, and has selected an option from the list of options in the select element.
    
    </p>

    <div><input class="input" type="button" onclick="window.location.href = 'hw5_part2.html'; " value="Part 2" /></div>
    <p>
      The webpage contains a script that utilizes 2 pulldown menus. The first one should utilize an onchange event handler. <br> <br>The second should utilize a button with an onclick event handler to navigate to a page after an option is selected. Each pulldown menu should include at least 3 URL destinations. 
    
    </p>

    <div><input class="input" type="button" onclick="window.location.href = 'hw5_part3.html'; " value="Part 3" /></div>
    <p>
      The a webpage enables the user to enter a state name (full or just the two characters that represent the state) and have the State Name, State Capital, and population appear in separate input box or textarea.
      
    </p>


    
  <div class="col-2">
  </div>
  </div>
</div>
</body>
</html>