<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Part 3 of Homework 5 CNIT133 class of CCSF made by Oxana Howard">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>part1</title>

  <script src="../static/js/hw5_part3.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="../static/css/hw5_part3.css">

</head>

<body>

  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
        page</button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw5.html'; ">Homework 5
        page
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw5_part1.html'; ">Part 1
      </button>

      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw5_part2.html'; ">Part 2
      </button>

    </form>
  </nav>


  <br>

  <h3>Get Information About Six US States</h3>
  <div class="row">

    <div class="col align-self-start">
    </div>

    <div class="col align-self-center" id="middle">

      <form name="myform">


        <h4>Please enter a state name <br>
          or a state abbriviation</h4>
        <br>


        <input id="stateAbbr" type="text" name="stateAbbr">

        <input type="button" onclick="getStateInfo()" value="State Info">
        <br>
        <br>
        <textarea id="textarea" rows="7" cols="40" name="result">
        </textarea>



      </form>


    </div>

    <div class="col align-self-end">
    </div>



</body>

</html>