<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Part 1-responce of Homework 5 CNIT133 class of CCSF made by Oxana Howard">
  <title>Document</title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="../static/css/hw5_part1_ok.css" />

</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      
      <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw5_part1.html'; ">
        Homework 5 part 2
      </button>

    </form>
  </nav>

  <br>
  <h2>The form has been processed!</h2>
</body>
</html>