<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Part 3 of Homework 6 CNIT133 class of CCSF made by Oxana Howard" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>part3</title>

  <script src="../static/js/hw6_part3.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

  <link rel="stylesheet" type="text/css" href="../static/css/hw6_part3.css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <button 
      id="navbar-btn0"
      class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">
        Home page
      </button>

      <button 
      id="navbar-btn1"
      class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw6.html'; ">
        Homework 6 page
      </button>

      <button 
      id="navbar-btn2"
      class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw6_part1.html'; ">
        Part 1
      </button>

      <button 
      id="navbar-btn3"
      class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw6_part2.html'; ">
        Part 2
      </button>
    </form>
  </nav>

  <h2 class="header">Extract a phone number's parts</h2>

  <form name="myform" class="myform">
    <h5 class="sub-header">
      Input a telephone number as a string in the format (999) 999-9999
      <br />to extract a phone number's the area code, its first three digits,
      and last 4 digits as tokens.
    </h5>

  <p class="enter-text">Enter a phone number:</p> 

<textarea id="error-result" rows="1" cols="40" name="error-result"></textarea>
    <div class="inputs">

      <div class="inputs">
    <input type="text" id="phoneNumber" class="form-control" data-mask="(999) 999-9999" size="30" />

    <input type="button" onclick="extractSequences()" id="get-result" value="RESULT" />
    <input id="reset" type="reset" value="RESET" />

    </div>
  </div>

    <textarea id="result" rows="2" cols="40" name="result"> </textarea>
  </form>
</body>

</html>