<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="discription" content="Homwork 1 for CNIT133 class at CCSF">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>hw7</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
      page</button>

  </form>
</nav>
<br>
  <h1>Coming Soon!</h1>
</body>
</html>