<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="Part 1 of Homwork 2 CNIT133">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>part1</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="../static/css/hw2_part1.css">

</head>

<body>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw1.html'; ">Home
      page</button>

    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'hw2.html'; ">Homework 2 page
    </button>

    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'part2.html'; ">Part 2
    </button>

    <button class="btn btn-outline-success" type="button" onclick="window.location.href = 'part3.html'; ">Part 3
    </button>

  </form>
</nav>


  <br>
  <br>

        <div class="row">
        
          <div class="col-4">
          </div>
        
          <div class="col-4" id="middle">
        
            <script>
              document.write("<span style = \"font-weight: bolder; color: red; font-family: Time New Roman;\">ab </span>")

              document.write("<span style = \"font-weight: bolder; color: blue; font-family: Arial;\">12 </span>")

              document.write("<span style = \"font-weight: bolder; color: green; font-family: Impact; font-style: italic;\">34</span>")

            </script>
            <hr>
          </div>
        
        </div>
        
        <div class="col-4">
        </div>
        
     


</body>

</html>